manifest {
    description = "This a pipeline for bulkRNA preprocessing" 
    mainScript = 'main.nf'
    version = '0.0.1'
}
profiles{
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "singularity_cache"
    }
    docker {
        docker.enabled = true
    }
    vm {
        process {
                withName:'FASTP|FASTQC|MULTIQC' {
                    container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                    'docker://ghcr.io/beatson-compbio/rnaseq-preprocessing:latest':
                    'ghcr.io/beatson-compbio/rnaseq-preprocessing:latest' }
                    cpus = 4
                    executor = 'local'
                    queue = 'short'
                }
                withName:BAM_TO_CRAM {
                    container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                    'docker://staphb/samtools@sha256:330ac19fe0d8124c1286baeaa313044a2e0ceb5b7ca2921381fc2eec3e1013dd':
                    'staphb/samtools@sha256:330ac19fe0d8124c1286baeaa313044a2e0ceb5b7ca2921381fc2eec3e1013dd' }
                    cpus = 4
                    executor = 'local'
                    queue = 'short'
                }
                withName:'MAPPING|COUNT|IDENTIFY_STRAND' {
                    container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                    'docker://ghcr.io/beatson-compbio/alignment-count:latest' :
                    'ghcr.io/beatson-compbio/alignment-count:latest' }
                    cpus = 16
                    executor = 'local'
                    queue = 'short'
                }
                withName:FASTQSCREEN {
                     container = {
                     workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                     'docker://community.wave.seqera.io/library/fastq-screen:0.16.0--6025e023bd3ba805' :
                     'community.wave.seqera.io/library/fastq-screen:0.16.0--6025e023bd3ba805' }
                     cpus = 4
                     memory = 8.GB
                     executor = 'local'
                     queue = 'short'
                }
            }
        }
    hpc {
        executor {
            cpus = 200
            submitRateLimit='16/1min'
        }
        process {
                withName:'FASTP|FASTQC|MULTIQC' {
                container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                'docker://ghcr.io/beatson-compbio/rnaseq-preprocessing:latest':
                'ghcr.io/beatson-compbio/rnaseq-preprocessing:latest' }
                cpus = 4
                memory = 16.GB
                executor = 'slurm'
                queue = 'compute-low-priority'
                }
                withName:BAM_TO_CRAM {
                container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                'docker://staphb/samtools@sha256:330ac19fe0d8124c1286baeaa313044a2e0ceb5b7ca2921381fc2eec3e1013dd':
                'staphb/samtools@sha256:330ac19fe0d8124c1286baeaa313044a2e0ceb5b7ca2921381fc2eec3e1013dd' }
                cpus = 4
                memory = 16.GB
                executor = "slurm"
                queue = 'compute-low-priority'
                }
                withName:'MAPPING|COUNT|IDENTIFY_STRAND' {
                container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                'docker://ghcr.io/beatson-compbio/alignment-count:latest' :
                'ghcr.io/beatson-compbio/alignment-count:latest' }
                cpus = 16
                memory = 128.GB
                executor = "slurm"
                queue = 'compute-low-priority'
                }
                withName:FASTQSCREEN {
                     container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
                     'docker://community.wave.seqera.io/library/fastq-screen:0.16.0--6025e023bd3ba805' :
                     'community.wave.seqera.io/library/fastq-screen:0.16.0--6025e023bd3ba805' }
                     cpus = 4
                     memory = 8.GB
                     executor = "slurm"
                     queue = 'compute-low-priority'
                }
        }
    }
}
